{{ with $base := (printf "configs/%s" (env "DE_ENV")) -}}
# url of directory, including the base DN (distinguished name)
grouperClient.ldap.url = {{ key (printf "%s/grouper/subject-source-url" $base) }}

# kerberos principal used to connect to ldap
grouperClient.ldap.login = {{ key (printf "%s/grouper/subject-source-principal" $base) }}

# password for shared secret authentication to ldap
# or you can put a filename with an encrypted password
grouperClient.ldap.password = {{ key (printf "%s/grouper/subject-source-credentials" $base) }}

########################################
## Web service Connection settings
########################################

# url of web service, should include everything up to the first resource to access
grouperClient.webService.url = {{ key (printf "%s/grouper/base" $base) }}

# kerberos principal used to connect to web service
grouperClient.webService.login = {{ key (printf "%s/grouper/admin-user" $base) }}

# password for shared secret authentication to web service
# or you can put a filename with an encrypted password
grouperClient.webService.password = {{ key (printf "%s/grouper/admin-pass" $base) }}
{{ end -}}
